body {
    max-height: 100%;
    overflow: hidden;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid slategrey;

}

::-webkit-scrollbar {
    width: 7px;
}