.input {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 25%;
    padding: 30px;
}

.singleInput {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.inputTitle {
    display: flex;
    flex-direction: row;
    height: 34px;
    width: 400px;
    gap: 1px;
}

.date {
    height: 20px;
}

.img {
    height: 200px;
    width: 210px;
}

.selectDom {
    border-radius: 10px;
}

.selectDom:hover {
    border-color: rgb(0, 0, 0);
}

.selectDom:disabled {
    border-color: rgba(0, 0, 0, 0.233);
}

.select {
    font-size: 25px;
    color: white;
    border-style: dotted;
    border-width: 0px 0px 2px 0px;
}

.select:hover {
    color: black;
}

.file {
    display: none;
}

.title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: end;
    font-size: 22px;
    font-weight: bold;
    white-space: nowrap;
    width: auto;

}

.replaceInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    background-color: #80ffb3;
    border-color: rgba(0, 0, 0, 0.541);
    border-style: dashed;
    border-width: 3px;
    border-radius: 10px;
}