.input {
    display: flex;
    width: 100%;
    border-style: solid;
    justify-content: center;
    gap: 500px;
}

.file {
    display: none;
}

.replaceInput {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
}