.table {
    width: 100%;
    overflow-y: scroll;
}

.transitionDuration {
    transition-duration: 0ms;
    border-style: solid;
    border-width: 1px;
}

.lastMainTd {
    display: flex;
    justify-content: space-between;
    border-left-style: none;
}

.chevronDown {
    font-size: large;
}

.noticeText{
    font-size: xx-large;
}