.Nav {
    display: flex;
    //size
    height: auto;
    width: 100%;
    font-size: 30px;
    //content position
    align-items: center;
    justify-content: center;
}

.NavItem {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-bottom-color: #D6D6DF;
    border-width: 0px 0px 2px 0px;
    width: 100%;
}