body .form-switch .form-check-input {
    width: 54px;
    height: 24px;
    margin-left: -2.4em;
    margin-top: -1px;
    box-shadow: none;
    background-color: #4F4F4F;
    --bs-form-switch-bg: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="1" height="1" fill="white" class="bi bi-circle-fill" viewBox="0 0 22 22"><circle cx="11" cy="11" r="8"/> </svg>');
    transform: perspective(1px) translateZ(0);
}

.form-switch .form-check-input:checked {
    background-color: #0d6efd;
}